{{#link-to-external "approute"}}
  &larr; Back to application route
{{/link-to-external}}
<br/>
<br/>

<button {{action 'renderEngineOutlet'}}>
  Render Engine Templete
</button>
<button {{action 'renderAppOutlet'}}>
  Render App Template
</button>

<button {{action 'clearOutlet'}}>
  Disconnect Outlet
</button>
<br/>
{{outlet}}
