<button {{action 'renderEngineOutlet'}}>
  Render Engine Templete
</button>
<button {{action 'renderAppOutlet'}}>
  Render App Template
</button>

<button {{action 'clearOutlet'}}>
  Disconnect Outlet
</button>
{{outlet}}
